<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/rltm/web/rltm.js"></script>
  <script src="bower_components/angular-chat/angular-chat.js"></script>

  <title>MBzapp</title>
</head>
<body>
  <div ng-app="mbzapp">
      <div ng-controller="ChatController as ctrl">
          <div ng-repeat="message in ctrl.messages">
              <strong>:</strong>
              <span></span>
          </div>
          <form ng-submit="ctrl.send()">
              <input ng-model="ctrl.textbox">
          </form>
      </div>
  </div>
</body>
</html>
